.weatherInfo {
    width: 100%;
    height: 143px;
    background: #F9EBC8;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.iconSection {
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.infomationSection {
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 47px 47px 47px;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}

.tempSection {
    width: auto;
    height: auto;
    text-align: center;
    & h1 {
        margin: 0;
        font-family: TTHakgyoansimUndongjangL, serif;
    }

    & p {
        margin: 0;
        font-family: TTHakgyoansimUndongjangL, serif;

    }
}

.infomationSection .stateSection {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-end: 0;
    width: auto;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    & h3 {
        margin-top: 8px;
        margin-bottom: 25px;
        font-size: 25px;
        font-family: TTHakgyoansimUndongjangL, serif;
    }
}


.infomationSection .locationSection {
    grid-row: 2;
    grid-column: 3;
    margin-right: 30px;
    & p {
        font-size: 16px;
        text-align: right;
        font-family: TTHakgyoansimUndongjangL, serif;
        margin: 0;
    }
}

.infomationSection .additionalInfoSectionDust {
    display: flex;
    grid-row:3;
    grid-column: 2;
    column-gap: 20px;
    justify-content: right;
    align-items: center;

    & p {
        font-size: 15px;
        margin: 0;
        font-family: TTHakgyoansimUndongjangL, serif;

    }
}

.infomationSection .additionalInfoSectionUV {
    display: flex;
    grid-row:3;
    grid-column: 1;
    column-gap: 20px;
    justify-content: center;
    align-items: center;

    & p {
        font-size: 15px;
        margin: 0;
        font-family: TTHakgyoansimUndongjangL, serif;
    }
}
