/* styles/board/boardlist.css */

.boardListContainer {
    padding: 20px;
}

.boardItem {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.boardItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.boardItemImage {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}


.boardItemContent {
    flex: 1;
    padding: 20px;
}

.boardItemTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.boardItemMeta {
    color: #666;
}


.paginationContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
