@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.main_content {
    /*width: 100%;*/
    font-family: "DOSPilgiMedium", serif;
    width: 100%;
    height: auto;
    position: relative;
    vertical-align: center;
}

.main_content .main_title {
    position: relative;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 2rem;
    background-color: #f47108;
    float: left;
    width: 100%;
    /*background-color: darkslateblue;*/
}

.main_content .main_title .main_frame {
    position: relative;
}

.main_content .main_title .main_frame_logo .main_title_icon {
    text-align: center;
    position: relative;
    float: left;
    width: 5%;
    height: auto;
    margin-left: 20%;
    /*width: 0.2em;*/
}

.main_content .main_title .main_frame > p {
    position: relative;
    text-align: center;
    margin-left: 20rem;
    margin-right: 25.8rem;
    /*padding-left: 20%;*/
    /*padding-right: 10%;*/
}

.main_content .main_content_section {
    background-color: #61dafb;
}

.main_content .main_swiper {
    margin: 8rem auto auto;
    width: 80%;
    height: 90%;
}

.main_content .main_content_section .carousel {
    position: relative;
    width: 20%;
    height: 10em;

}

.main_content .w-btn-outline {
    border: 3px solid #ff5f2e;
    color: #6e6e6e;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-family: "DOSPilgiMedium", serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin: 3rem;
    box-sizing: border-box;
}

.main_content .w-btn-outline span:after {
    content: "고민해결";
    font-size: 1rem;
}

.main_content .w-btn-outline:hover span:after {
    animation-delay: inherit;
    content: "고르러 가자";
}

.main_content .w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.5);
    cursor: pointer;
    background-color: #ff5f2e;
    color: #e1eef6;
}

