/* MyPage.module.css */

.layout {
    height: 100%;
}

.sider {
    background-color: #fff; /* 사이드바 배경색 */
    border-right: 1px solid #f0f0f0; /* 사이드바 우측 테두리 */
    height: 99vh;
}

.logo {
    height: 32px;
    text-align: center;
    background-color: #FFC26F;
    padding: 30px;
    justify-content: center;
    align-content: center;
}

.title {
    font-family: TTHakgyoansimUndongjangL, serif;
    background-color: #FFC26F;
    margin-top: 0;

}

.menu {
    border-right: none; /* 메뉴 우측 테두리 제거 */
    height: 100%;
    display: block;
    background-color: #F9E0BB;
    font-family: TTHakgyoansimUndongjangL, serif;
    padding-top: 30px;
}

.content {
    background: #fff; /* 콘텐츠 배경색 */
}

.tabs {
    margin-top: 20px; /* 탭과 콘텐츠 사이 여백 */
    margin-left: 30px;
}
