.reservation_modal {
    width: 60rem;
    height: 40rem;
    background-color: white;
    border-radius: 15px;
}

.modal-body {
    display: flex;
    background-color: rebeccapurple;
    height: 33rem;
}

.brand_list {
    width: 50%;
    margin-right: 10px;
    background-color: white;
}

.car_list {
    background-color: white;
    margin-left: 10px;
    width: 50%;
}