/* NoticeCalender.module.css */

.calendarWrapper {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.dayHeader {
    background: #A0BCC2;
    height: 40px;
    text-align: center;
    align-content: center;
    user-select: none;
}

.event {
    cursor: pointer;
}


.calendarFont {
    font-family: TTHakgyoansimUndongjangL, serif;
    background-color: #f8f8f8;
}

.eventContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.contentSection {
    display: flex;
    align-items: center;
}

.eventDot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.eventTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-right: 16px;
}

.eventTime {
    font-size: 14px;
    color: #666666;
}

.addScheduleModalContent {
    padding: 20px;
}

.addScheduleLabel {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.addScheduleInput {
    margin-bottom: 20px;
    width: 100%;
}

.addScheduleSelect {
    margin-bottom: 20px;
    width: 100%;
}

.addScheduleRangePicker {
    width: 100%;
}
