<table width="100%" cellspacing="0" cellpadding="0" border="0"
       style="background-color: #f8f8f8; border-collapse: collapse;">
    <tr>
        <td style="padding: 20px;">
            <table width="900" cellspacing="0" cellpadding="0" border="0"
                   style="background-color: rgb(128,128,128); border-radius: 15px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); margin: 0 auto;
                           {#background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('https://images.pexels.com/photos/6873006/pexels-photo-6873006.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');#}
                           ">
                <tr>
                    <td style="text-align: left; padding: 40px;">
                        <h2 style="font-size: 24px; margin-bottom: 15px; color: white">안녕하세요! CARWASH 앱 입니다</h2>
                        <header class="header" style="font-size: 28px; margin-bottom: 5%; font-weight: bold; color: white">이메일 인증
                            코드
                        </header>
                        <div class="content" style="font-size: 18px; color: white; margin-top: 10%;">
                            <p>회원가입을 위해 요청해주신 인증코드는 아래와 같습니다.</p>
                            <p>인증 코드를 입력하여 이메일을 인증해주세요</p>
                            <p>추가적인 요청사항이 있으시면 아래 기입된 고객센터로 연락주시기 바랍니다.</p>
                            <div style="display: flex;">
                                <p class="auth-number"
                                   style="font-size: 23px; margin-right: 20px; color: white; margin-top: 35px;">인증
                                    번호: </p>
                                <p class="verification-code"
                                   style="font-size: 24px; font-weight: bold; color: white; border: 3px solid black; padding: 10px; background-color: black; border-radius: 15px;">{{ verification_code }}</p>
                            </div>
                            <p class="customer-information"
                               style="margin-top: 10%; text-align: center; color: white; border: 3px solid black; background-color: black; border-radius: 15px;">
                                고객센터 : (번호) 010-6470-0107 / (이메일) juneseok81@gmail.com</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


