/* Profile.module.css */

.title {
    margin-bottom: 20px;
    font-family: TTHakgyoansimUndongjangL, serif;
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.form-item {
    margin-bottom: 16px;
}

.input {
    width: 100%;
}

.button {
    width: 100%;
    background-color: #FFC26F;
}
