.book{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #efefef;
}

.book__info {
    width: 100%;
}

.book h3 {
    /* 상 우 하 자 (시계 방향) */
    margin: 0 0 0 0.25rem;
}

.author {
    font-size: 1rem;
}

.description {
    font-style: italic;
    word-wrap: none;
}

.price{
    margin-top: 0.25rem;
    font-weight: bold;
    color: #4a69bd;
    font-size: 1.25rem;
}