/* Login.module.css */

.loginContainer {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid rgba(235, 237, 240, 0);
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.loginHeader {
    width: 100%;
    display: block;

    .title {
        text-align: center;
        font-family: TTHakgyoansimUndongjangL, serif;
        margin-top: 0;
        margin-bottom: 16px;
    }

}


.formGroup {
    margin-bottom: 20px;
    border-bottom: 1px solid #333333;
    padding: 5px 0;
}


.input {
    width: 100%;
    border: none;
    font-family: TTHakgyoansimUndongjangL, serif;
}

.checkboxGroup {
    margin-bottom: 20px;
}

.checkBox {
    font-family: TTHakgyoansimUndongjangL, serif;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginButton {
    width: 100%;
    height: 5vh;
    margin-top: 5px;
    font-weight: bold;
    background-color: #FFC26F;
    font-family: TTHakgyoansimUndongjangL, serif;
}

.googleButton {
    width: 100%;
    height: 4vh;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: left;
    font-family: TTHakgyoansimUndongjangL, serif;

}

.naverButton {
    width: 100%;
    height: 4vh;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #01bb52;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: left;
    font-family: TTHakgyoansimUndongjangL, serif;

}

.kakaoButton {
    width: 100%;
    height: 4vh;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fee500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: left;
    font-family: TTHakgyoansimUndongjangL, serif;
}

.signupButton {
    width: 10%;
    margin-right: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 0;
    font-size: 13px;
    font-family: TTHakgyoansimUndongjangL, serif;

}

.forgotLink {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    margin: 0 8px;
}

.socialLoginText {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

.socialLoginGroup {
    display: block;
    justify-content: center;
}

.findID, .findPW {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    font-family: TTHakgyoansimUndongjangL, serif;

}

.naverLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
}

.kakaoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;

}

.googleLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    padding: 0;
}
