.header {
    /* position: fixed; */

    /* width: 100%; fixed를 하면 자신의 영역만 차지하게 되기 때문에 width 100% 적용 */
    padding: 0 10%;
    
    background-color: #0a3d62;
    color: white;    

    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.header-image {
    width: 100%;
    text-align: center;
}

.header-image img {
    width: 100%;
    height: 70vh;
}

