/* ForgotPasswordPage.css */

.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/6873118/pexels-photo-6873118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}

.forgot-password {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 30px;
    animation: fadeInUp 0.5s ease;
    text-align: center;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.forgot-password h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 100%;
    text-align: center;
}

.forgot-password form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.forgot-password form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* 추가 */
}

.forgot-password form input:focus {
    border-color: #ff6b6b; /* 추가 */
}

.forgot-password form button {
    width: 100%;
    padding: 12px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.forgot-password form button:hover {
    background-color: #ff4f4f;
}


.timer-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.expired {
    color: #ff6347; /* 시간 만료 시 글자 색 변경 */
}

.modal-button {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
