.header {
    width: 99vw;
    border-bottom: 1px solid black;

    .item_section {
        display: flex;
        width: 1440px;
        padding-left: 8%;

        .drawer_section {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon_button {
                width: 35px;
                height: 45px;
                cursor: pointer;

            }

            .menu {
                align-items: center;
            }

        }


        .title_section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            padding-right: 65%;
            font-size: 25px;

            .title {
                font-family: TTHakgyoansimUndongjangL, serif;
                color: black;
                user-select: none;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .icon_section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            user-select: none;


            .person {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-left: 16px;
                margin-right: 16px;
            }

            .Notification {
                user-select: none;
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-left: 16px;
                margin-right: 16px;
            }
        }


    }
}

.link {
    color: #5d6268;
    text-decoration: none;
}




