
.main {
    display: block;
    width: 1440px;
    margin-left: 8%;
    height: 110vh;

    .widget_section {
        width: 100%;
        height: 143px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .weather_widget {
            width: 40%;
            height: 143px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dday {
            width: 40%;
            height: 143px;
            border-radius: 8px;
            background: #F9EBC8;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .content_section {
        width: 100%;
        height: 780px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;


        .todo {
            grid-row-start: 1;
            grid-row-end: 1;
            width: auto;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .board {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            width: auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .calender {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            width: 100%;
            height: 100%;
            border-radius: 8px;

            .schedule_title {
                display: flex;
                justify-content: center;
                margin: 20px 0 0;
            }
        }
    }
}
