html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

body {
    margin: 0 0 0 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
}

@font-face {
    font-family: 'TTHakgyoansimUndongjangL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.fc-toolbar-chunk {
    font-family: TTHakgyoansimUndongjangL, serif;
    font-size: 15px;

    .fc-prev-button {
        background-color: #A0BCC2;
        border-color: #A0BCC2;
        color: #747a7a;
    }

    .fc-prev-button:hover {
        color: #747a7a;
        background-color: #FEFBE7;
        border-color: #FEFBE7;
    }


    .fc-next-button {
        background-color: #A0BCC2;
        border-color: #A0BCC2;
        color: #747a7a;
    }

    .fc-next-button:hover{
        color: #747a7a;
        background-color: #FEFBE7;
        border-color: #FEFBE7;
    }


    .fc-today-button {
        background-color: #A0BCC2;
        border-color: #A0BCC2;
        color: #747a7a;
    }

}
